<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body class="bg-white">

<div>
  <nav class="navbar navbar-dark bg-dark">
    <div id="navbar-text"></div>
    <a href="/logout" class="nav-link link-secondary">Logout</a>
  </nav>
</div>

<div class="container-fluid" style="height: 100vh">
  <div class="row">

    <ul class="nav nav-pills flex-column col-md-2 bg-white px-0 pt-3" id="roleTab" style="height: 100vh" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="admin-tab" data-toggle="tab" data-target="#admin" type="button" role="tab" aria-controls="admin" aria-selected="true" th:href="@{/admin}">Admin</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="user-tab" data-toggle="tab" data-target="#user" type="button" role="tab" aria-controls="user" aria-selected="false">User</a>
      </li>
    </ul>

    <div class="tab-content col-md-10 bg-light pt-3 px-4">
      <div class="tab-pane active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
      <h1>Admin panel</h1>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="table-tab" data-toggle="tab" data-target="#table" type="button" role="tab" aria-controls="table" aria-selected="true">User table</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="newUser-tab" data-toggle="tab" data-target="#newUser" type="button" role="tab" aria-controls="newUser" aria-selected="false">New user</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="table" role="tabpanel" aria-labelledby="table-tab">
          <div class="card">
            <div class="card-header">
              <h4>All users</h4>
            </div>

            <div class="card-body bg-white">
              <table class="table table-striped">
                <thead>
                <tr>
                  <td> <h6>ID</h6> </td>
                  <td><h6>First name</h6></td>
                  <td><h6>Last name</h6></td>
                  <td><h6>Email</h6></td>
                  <td><h6>Age</h6></td>
                  <td><h6>Role</h6></td>
                  <td><h6>Delete</h6></td>
                  <td><h6>Edit</h6></td>
                </tr>
                </thead>
                <tbody></tbody>
              </table>

              <!-- delete modal -->
              <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="#" id="form-delete" class="text-center">
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="id-delete" class="form-label fw-bold mb-0">ID</label>
                          <input class="form-control" type="text" id="id-delete" disabled/>
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="name-delete" class="form-label fw-bold mb-0 mt-3">Name</label>
                          <input class="form-control" type="text" id="name-delete" disabled/>
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="last-name-delete" class="form-label fw-bold mb-0 mt-3">Last name</label>
                          <input class="form-control" type="text" id="last-name-delete" disabled/>
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="email-delete" class="form-label fw-bold mb-0 mt-3">Email</label>
                          <input class="form-control" type="text" id="email-delete" disabled/>
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="age-delete" class="form-label fw-bold mb-0 mt-3">Age</label>
                          <input class="form-control" type="number" id="age-delete" disabled/>
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="role-delete" class="form-label fw-bold mb-0 mt-3">Role</label>
                          <select class="form-control" multiple size = 2 id = "role-delete" disabled>
                            <option>ADMIN</option>
                            <option>USER</option>
                          </select>
                        </div>
                        <input type="hidden" id="password-delete">
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" id="delete-submit" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Update modal -->
              <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="#" id="form-update" class="text-center">

                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="id-edit" class="form-label fw-bold mb-0">ID</label>
                          <input class="form-control" type="text" id="id-edit" disabled/>
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="name-edit" class="form-label fw-bold mb-0 mt-3">Name</label>
                          <input class="form-control" type="text" id="name-edit"/>
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="last-name-edit" class="form-label fw-bold mb-0 mt-3">Last name</label>
                          <input class="form-control" type="text" id="last-name-edit"/>
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="email-edit" class="form-label fw-bold mb-0 mt-3">Email</label>
                          <input class="form-control" type="text" id="email-edit"/>
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="age-edit" class="form-label fw-bold mb-0 mt-3">Age</label>
                          <input class="form-control" type="number" id="age-edit"/>
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="password-edit" class="form-label fw-bold mb-0 mt-3">Password</label>
                          <input class="form-control" type ="password" id="password-edit">
                        </div>
                        <div style="margin-left: 25%; margin-right: 25%">
                          <label for="role-edit" class="form-label fw-bold mb-0 mt-3">Role</label>
                          <select class="form-control" multiple size = 2  id = "role-edit">
                            <option>USER</option>
                            <option>ADMIN</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" id="edit-submit" data-dismiss="modal" class="btn btn-primary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
          <div class="card">
            <div class="card-header">
              <h4>Add new user</h4>
            </div>

            <div class="card-body bg-white">
              <form id="new-user-form" class="text-center">
                <div style="margin-left: 35%; margin-right: 35%">
                <label for="name-new" class="form-label fw-bold mb-0">Name</label>
                <input class="form-control" type="text" id="name-new"/>
                </div>
                <div style="margin-left: 35%; margin-right: 35%">
                <label for="last-name-new" class="form-label fw-bold mb-0 mt-3">Last name</label>
                <input class="form-control" type="text" id="last-name-new"/>
                </div>
                <div style="margin-left: 35%; margin-right: 35%">
                <label for="email-new" class="form-label fw-bold mb-0 mt-3">Email</label>
                <input class="form-control" type="text" id="email-new"/>
                </div>
                <div style="margin-left: 35%; margin-right: 35%">
                  <label for="age-new" class="form-label fw-bold mb-0 mt-3">Age</label>
                  <input class="form-control" type="number" id="age-new"/>
                </div>
                <div style="margin-left: 35%; margin-right: 35%">
                <label for="password-new" class="form-label fw-bold mb-0 mt-3">Password</label>
                <input class="form-control" type ="password" id="password-new">
                </div>
                <div style="margin-left: 35%; margin-right: 35%">
                <label for="role-new" class="form-label fw-bold mb-0 mt-3">Role</label>
                <select class="form-control" multiple size = 2 id = "role-new">
                  <option>ADMIN</option>
                  <option>USER</option>
                </select>
                </div>
                <br>
                <input id = "new-user-submit" type="submit" class="btn btn-success" value="Add new user"/>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="tab-pane" id="user" role="tabpanel" aria-labelledby="user-tab">
        <h1>User information-page</h1>
        <div class="card">
          <div class="card-header">
            <h4>About user</h4>
          </div>

          <div class="card-body bg-white">
            <table class="table table-striped">
              <thead>
              <tr>
                <td> <h6>ID</h6> </td>
                <td><h6>First name</h6></td>
                <td><h6>Last name</h6></td>
                <td><h6>Email</h6></td>
                <td><h6>Age</h6></td>
                <td><h6>Role</h6></td>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
</div>
</div>





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../static/main.js"></script>
</body>
</html>
