<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">>
<head>
  <meta charset="UTF-8">
  <title>user</title>
</head>
<body>

<form action="#" th:method="POST" th:action = "@{/admin/update/{id}(id=${user.getId()})}">
  <label for="name">Enter name:</label>
  <input type="text"   th:object="${user}" th:field="*{firstName}" id="name"/>
  <br/>
  <label for ="lastName">Enter Lastname:</label>
  <input type="text"  th:object="${user}" th:field="*{lastName}" id="lastName"/>
  <br/>
  <label for="email">Enter email:</label>
  <input type="text"   th:object="${user}" th:field="*{email}" id="email"/>
  <label for="role">Select role:</label>
  <label>
  <select multiple size = 2 th:name="rolesArray"  id = "role">
    <option th:each="singleRole : ${rolesArray}" th:value="${singleRole}"
            th:text = "${singleRole}"></option>
  </select>
  </label>
  <input type="submit" value="confirm"/>
</form>

</body>
</html>